@use "../abstracts/functions" as function;
@use "../abstracts/mixins" as mixin;

.entries {
  @include mixin.flex(center, center, 0);
  flex-direction: column;

  &__header {
    @include mixin.flex(center, space-between, 0);
    margin-block: function.torem(20);
    width: 100%;
    > a {
      @include mixin.flex(center, space-between, 20);
    }
  }

  &__create-entrie {
    @include mixin.flex(center, center, 60);
    flex-direction: column;
    @include mixin.center();
  }
}